<div style="text-align:center">
  <h1>
    Kairos FizzBuzz
  </h1>

  <h3>Your value is {{fizzBuzz}}</h3>

</div>
<h2>Enter a number to Fizz Buzz</h2>

<fieldset>
  <form [formGroup]="valForm" class="form-validate" (submit)="submitForm($event, valForm.value)">

    <div class="form-group">
      <label for="inputFizzBuzz">Number to FizzBuzz</label>
      <input type="number"
             id="inputFizzBuzz"
             placeholder="Enter Number" [formControl]="valForm.controls['fizzBuzzInput']">
      <span class="text-danger"
            *ngIf="valForm.controls['fizzBuzzInput'].hasError('required') && (valForm.controls['fizzBuzzInput'].dirty || valForm.controls['fizzBuzzInput'].touched)">This field is required</span>
    </div>

    <!--- Buttons Block --->
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</fieldset>
